.about__container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 400px;
  font-weight: 300;
}

.about__container span:first-child {
  font-size: 20px;
}
.about__container span:last-child {
  display: block;
  margin-top: 10px;
}

.detail_desc {padding:50px 50px 150px}

.momentwrap {padding:20px; text-align: center}
.momentwrap .control {padding:10px}
.momentwrap .control .dayinfo {padding:0 15px; font-size: 16px}
.moment_datepicker {}
.moment_datepicker {display:flex; justify-content:center; font-size: 16px;}
.moment_datepicker tbody {padding:10px;background-color: lightgray;}
.moment_datepicker td {border: 0; padding: 5px; color: #555; background-color: white; text-align: center;}
.moment_datepicker .ui-datepicker-today {color: #fff; background-color: #222}
.moment_datepicker .ui-datepicker-today .ui-state-default {}
.moment_datepicker .ui-datepicker-today .ui-state-default.ui-state-active {}
.moment_datepicker .ui-state-disabled {}
.moment_datepicker .ui-state-disabled .ui-state-default {background-color:white; color:#eee}